<div class="panel panel-default" style="border-radius:10px;">
    <div class="panel-body">
        <div class="container-fluid" style="padding:5px;">
            <div class="row">
                <!-- Image -->
                <div class="col-xs-12 col-md-4">
                    <div class="recommendation-image-container">
                        <img [src]="recommendation.imageUrl" 
                             alt={{recommendation.title}} 
                             [title]="recommendation.title"
                             class="img-responsive recommendation-image">
                    </div>
                </div>
                <!-- Details -->
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-9">
                            <h2>{{recommendation.title}}</h2>
                        </div>
                        <div class="col-xs-3">
                            <span class="label label-info ">{{recommendation.category}}</span>
                        </div>
                    </div>
                    
                    <div class="row details-section">
                        <div class="col-xs-12">
                            <p><strong>Description:</strong></p>
                            <p>{{recommendation.description}}</p>
                        </div>
                    </div>
                    
                    <div class="row details-section">
                        <div class="col-xs-6">
                            <p><strong>Status:</strong> </p>
                            <span class="label" 
                                [ngClass]="{
                                'label-success': recommendation.status === 'Tried',
                                'label-warning': recommendation.status === 'Not Tried',
                                'label-danger': recommendation.status === 'Declined'
                                }"
                            >
                                {{recommendation.status}}
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>Reaction:</strong></p>
                                <span class="label" 
                                      [ngClass]="{
                                        'label-success': recommendation.reaction === 'Liked',
                                        'label-info': recommendation.reaction === 'No Reaction Yet',
                                        'label-danger': recommendation.reaction === 'Disliked'
                                      }">
                                    {{recommendation.reaction}}
                                </span>                            
                        </div>
                    </div>
                    
                    <div class="row details-section">
                        <div class="col-xs-12">
                            <p><strong>Source:</strong> {{recommendation.source}}</p>
                        </div>
                    </div>
                    
                    <div class="row details-section" *ngIf="recommendation.recommendedBy">
                        <div class="col-xs-12">
                            <p><strong>Recommended by:</strong> {{recommendation.recommendedBy.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="row details-section" *ngIf="recommendation.notes">
                        <div class="col-xs-12">
                            <p><strong>Notes:</strong></p>
                            <p class="text-muted">{{recommendation.notes}}</p>
                        </div>
                    </div>
                    
                    <!-- Action Buttons -->
                    <div class="row action-buttons">
                        <div class="col-xs-12 text-right">
                            <a class="btn btn-primary margin-left-right">
                                <i class="glyphicon glyphicon-edit"></i> Edit
                            </a>
                            <a class="btn btn-danger margin-left-right">
                                <i class="glyphicon glyphicon-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
