<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Bucket List</a>
        </div>
    
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profile</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="#">Login</a></li>

            </ul>
        </div>
    </div>
</div>